<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:paging="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>User Manage</title>

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.7.1/billboard.min.css"/>-->
</head>

<div layout:fragment="page_content" id="page_content">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">System</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Manage</li>
            </ol>
        </nav>

        <div class="row">
            <!--<div class="col-sm-6 col-xs-12">-->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">User Manage</h3>
                        <p class="card-text">
                            <!--모니터링하기 위한 URL을 등록/수정 할 수 있는 관리 페이지 입니다.-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--<div class="col-sm-6 col-xs-12">-->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="frmSearch">
                            <input type="hidden" name="pn" value="1">

                            <div class="row search-row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-inline ">
                                        <div class=" form-group">
                                            <select class="form-control form-control-sm" name="st">
                                                <option value="">==Search Type==</option>
                                                <option th:each="typeCd : ${searchTypeCd}"
                                                        th:value="${typeCd.name()}"
                                                        th:text="${typeCd.cdNm}"
                                                        th:selected="${typeCd.name() eq paramInfo.st}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                        <div class=" form-group">
                                            <input type="text" class="form-control form-control-sm" name="sv"
                                                   placeholder="Entered Search Text!" th:value="${paramInfo.sv}"
                                                   onkeydown="enterSearch();"/>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-outline-primary btn-sm" onclick="search();">
                                                <i class="fas fa-search"></i> Search
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    <div class="form-inline float-right">
                                        <div class="form-group">

                                            <select class="form-control form-control-sm" name="sot" onchange="search();">
                                                <option th:each="typeCd : ${sortTypeCd}"
                                                        th:value="${typeCd.name()}"
                                                        th:text="${typeCd.cdNm}"
                                                        th:selected="${typeCd.name() eq paramInfo.sot}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control form-control-sm" name="sod" onchange="search();">
                                                <option th:each="directionCd : ${sortDirectionCd}"
                                                        th:value="${directionCd.name()}"
                                                        th:text="${directionCd.name()}"
                                                        th:selected="${directionCd.name() eq paramInfo.sod}"
                                                >
                                                </option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <select class="form-control form-control-sm" name="ez" onchange="search();">
                                                <option value="10" th:selected="${paramInfo.ez eq 10}">10 Row</option>
                                                <option value="20" th:selected="${paramInfo.ez eq 20}">20 Row</option>
                                                <option value="50" th:selected="${paramInfo.ez eq 50}">50 Row</option>
                                                <option value="100" th:selected="${paramInfo.ez eq 100}">100 Row</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                <tr>
                                    <th class="text-center">userId</th>
                                    <th class="text-center">email</th>
                                    <th class="text-center">Enable</th>
                                    <th class="text-center">Locked</th>
                                    <th class="text-center">Created At</th>
                                    <th class="text-center">Updated At</th>
                                    <th class="text-center">Function</th>
                                </tr>
                                </thead>

                                <tbody th:with="conditionList=${not resultList.isEmpty()}">

                                <tr th:if="${conditionList}" th:each="result : ${resultList}">
                                    <td class="text-center" th:text="${result.userId}"></td>
                                    <td class="text-center" th:text="${result.email}"></td>
                                    <td class="text-center" th:text="${result.enable}"></td>
                                    <td class="text-center" th:text="${result.locked}"></td>
                                    <td class="text-center" th:text="${#temporals.format(result.createdAt, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td class="text-center" th:text="${#temporals.format(result.updatedAt, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td class="text-center">
                                        <button class="btn btn-outline-danger btn-xs">
                                            <i class="far fa-edit"></i> Password Change
                                        </button>
                                        <button class="btn btn-outline-danger btn-xs">
                                            <i class="far fa-edit"></i> MODIFY
                                        </button>
                                    </td>
                                </tr>

                                <tr th:unless="${conditionList}">
                                    <td colspan="7" class="text-center">No Data</td>
                                </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center" paging:pagination="${pagination}" jsFuncName="movePageCustom"
                                    noEmpty="true">
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="includeScripts">
    <!--<script src="https://d3js.org/d3.v4.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.7.1/billboard.min.js"></script>-->
</th:block>
<th:block layout:fragment="scripts">
    <script>
        function enterSearch() {
            if (event.keyCode === 13) {
                search();
            }
        }

        function movePageCustom(pageNo) {
            document.querySelector("#frmSearch [name='pn']").value = pageNo;

            search();
        }

        function search() {
            var frmSearch = document.getElementById('frmSearch');

            frmSearch.action = '/system/user';

            removeNotUsedElement(frmSearch);
            frmSearch.submit();
        }
    </script>
</th:block>
</html>

