<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:paging="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Program Monitor</title>
</head>
<div layout:fragment="page_content" id="page_content">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">(Monitor) Program</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Program</h5>
                        <p class="card-text">
                            <!--프로그램 등록/수정이 가능한 관리 페이지 입니다.-->
                        </p>
                        <div class="form-inline">
                            <div class="form-group pr-1">
                                <!--<button class="btn btn-outline-primary btn-sm" onclick="addOpenModal(); return false;">-->
                                    <!--<i class="far fa-plus-square"></i> ADD-->
                                <!--</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6" th:each="urlInfo : ${urlList}">
                <div class="card ">
                    <div class="row">
                        <div class="col-6">
                            <div class="text-info text-center mt-3">
                                <h1 th:if="${urlInfo.healthStatusCd.toString().equals('HEALTH')}">
                                    <i class="fas fa-smile-wink fa-2x" style="color: #659bf2;"></i>
                                </h1>
                                <h1 th:if="${urlInfo.healthStatusCd.toString().equals('WARNING')}">
                                    <i class="fas fa-exclamation-circle fa-2x" style="color: #f7a151;"></i>
                                </h1>
                                <h1 th:if="${urlInfo.healthStatusCd.toString().equals('ERROR')}">
                                    <i class="fas fa-skull-crossbones fa-2x" style="color: #f70404;"></i>
                                </h1>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-info text-center mt-3"><h4 th:text="${urlInfo.healthStatusCd}"></h4></div>
                            <div class="text-info text-center mt-2"><h4 th:text="${urlInfo.urlName}"></h4></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<th:block layout:fragment="includeScripts">
</th:block>
<th:block layout:fragment="scripts">
    <script>
        function movePageCustom(pageNo) {
            $("#frmSearch [name='pageNumber']").val(pageNo);
            $("#frmSearch").submit();
        }
    </script>
</th:block>
