<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.7.1/billboard.min.css"/>
</head>
<div layout:fragment="page_content" id="page_content">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="">Dashboard</a></li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-sm-6 col-md-4" th:each="statusCnt : ${statusCntList}">
                <div class="card ">
                    <div class="row">
                        <div class="col-6">
                            <div class="text-info text-center mt-3">
                                <h1 th:if="${statusCnt.healthStatusCd.toString().equals('HEALTH')}">
                                    <i class="fas fa-smile-wink  fa-2x" style="color: #659bf2;"></i>
                                </h1>
                                <h1 th:if="${statusCnt.healthStatusCd.toString().equals('WARNING')}">
                                    <i class="fas fa-exclamation-circle  fa-2x" style="color: #f7a151;"></i>
                                </h1>
                                <h1 th:if="${statusCnt.healthStatusCd.toString().equals('ERROR')}">
                                    <i class="fas fa-skull-crossbones fa-2x" style="color: #f70404;"></i>
                                </h1>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-info text-center mt-3"><h4 th:text="${statusCnt.healthStatusCd}"></h4></div>
                            <div class="text-info text-center mt-2"><h1 th:text="${statusCnt.urlCnt}"></h1></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right">
                            <i class="far fa-play-circle fa-3x"></i>
                            <i class="far fa-pause-circle fa-3x"></i>
                        </div>
                        <div class="clearfix"></div>
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Lately Status change List</h5>
                        <table class="table table-sm">
                            <tr th:each="hist : ${urlMonitorHistList}">
                                <th th:text="${hist.monitorHistIdx}"></th>
                                <th th:text="${hist.urlIdx}"></th>
                                <td th:text="${hist.urlName}"></td>
                                <td th:text="${hist.preHealthStatusCheckCd}"></td>
                                <td th:text="${hist.healthStatusCd}"></td>
                                <td th:text="${hist.createdAt}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Batch List</h5>
                        <ul class="timeline">
                            <li th:each="hist : ${histList}">
                                <a href="#" th:text="${hist}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="includeScripts">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.7.1/billboard.min.js"></script>
</th:block>
<th:block layout:fragment="scripts">
    <script>
        $(document).ready(function () {
            getChartData();

            setInterval(function () {
                getChartData();
            }, 15000);
        });

        //TODO : 로컬스토리지를 사용하여 자동갱신 멈춤

        function getChartData() {
            var url = '/dashboard/api/v1/monitor/hist';

            axios.get(url)
                .then(function (response) {
                    var data = response.data.data;

                    var rtnData = [];
                    for (var tmpIndex in data) {
                        var subRtnData = [];
                        subRtnData.push(tmpIndex);

                        for (var subTmpIndex in data[tmpIndex]) {
                            subRtnData.push(data[tmpIndex][subTmpIndex].responseTime);
                        }

                        rtnData.push(subRtnData);
                    }

                    initChart(rtnData);
                })
                .catch(function (error) {
                    if (error.response) {
                        console.log(error.response.data);
                        console.log(error.response.status);
                        console.log(error.response.headers);
                    }

                    if (error.response.status === 401) {
                        console.log(error);
                        alert("실패 401: " + error);
                        location.href = "/login";
                    } else if (error.response.status === 403) {
                        console.log(error);
                        alert("실패 403: " + error);
                    } else {
                        console.log("error : ", error);
                        alert("실패 Else : " + error);
                    }
                });
        }

        function initChart(rtnData) {
            bb.generate({
                bindto: "#chart",
                grid: {
                    x: {
                        show: true
                    },
                    y: {
                        show: true
                    }
                },
                data: {
                    // type: "spline",
                    columns: rtnData
                }
            });
        }
    </script>
</th:block>
