<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Dashboard</title>
</head>
<div layout:fragment="page_content" id="page_content" style="padding-top: 40px;">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Motiful</h1>
            <p>Monitoring + Beautiful!</p>
            <p>
                <a class="btn btn-primary btn-sm" href="#" role="button">Program Manage</a>
            </p>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title mb-3">URL Status</h3>
                        <div class="row">
                            <div th:each="statusCnt : ${statusCntList}" th:remove="tag">
                                <div class="col-sm-6 col-md-4">
                                    <div class="card ">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="text-info text-center mt-3">
                                                    <h1 th:if="${statusCnt.healthStatusCd.toString().equals('HEALTH')}">
                                                        <i class="fas fa-smile-wink  fa-2x" style="color: #659bf2;"></i>
                                                    </h1>
                                                    <h1 th:if="${statusCnt.healthStatusCd.toString().equals('WARNING')}">
                                                        <i class="fas fa-exclamation-circle  fa-2x" style="color: #f7a151;"></i>
                                                    </h1>
                                                    <h1 th:if="${statusCnt.healthStatusCd.toString().equals('ERROR')}">
                                                        <i class="fas fa-skull-crossbones fa-2x" style="color: #f70404;"></i>
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="text-info text-center mt-3"><h4 th:text="${statusCnt.healthStatusCd}"></h4></div>
                                                <div class="text-info text-center mt-2"><h1 th:text="${statusCnt.urlCnt}"></h1></div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">URL Status</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">URL Status</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">URL Status</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script>
    </script>
</th:block>
