<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:paging="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>URL Manage</title>
</head>
<div layout:fragment="page_content" id="page_content">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Manage</a></li>
                <li class="breadcrumb-item active" aria-current="page">Alarm</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Alarm Manage</h5>
                        <p class="card-text">
                            테테테테테텥 테테테테테텥 테테테테테텥 테테테테테텥
                        </p>

                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="far fa-plus-square"></i>
                                ADD
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:each="channel : ${alarmChannelCd}"
                                   th:data-channel="${channel}"
                                   onclick="openModal(this);"
                                   style="cursor: pointer;"
                                >
                                    <i th:class="${channel.faIconClasses}"></i>
                                    <span class="pl-1" th:text="${channel.cdNm}"></span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="frmSearch">
                            <input type="hidden" name="pn" value="1">

                            <div class="row search-row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-inline ">
                                        <div class=" form-group">
                                            <select class="form-control form-control-sm" name="st">
                                                <option value="">==Search Type==</option>
                                                <option th:each="typeCd : ${searchTypeCd}"
                                                        th:value="${typeCd.name()}"
                                                        th:text="${typeCd.cdNm}"
                                                        th:selected="${typeCd.name() eq paramInfo.st}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                        <div class=" form-group">
                                            <input type="text" class="form-control form-control-sm" name="sv"
                                                   placeholder="Entered Search Text!" th:value="${paramInfo.sv}"
                                                   onkeydown="enterSearch();"/>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-outline-primary btn-sm" onclick="search();">
                                                <i class="fas fa-search"></i> Search
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    <div class="form-inline float-right">
                                        <div class="form-group">

                                            <select class="form-control form-control-sm" name="sot" onchange="search();">
                                                <option th:each="typeCd : ${sortTypeCd}"
                                                        th:value="${typeCd.name()}"
                                                        th:text="${typeCd.cdNm}"
                                                        th:selected="${typeCd.name() eq paramInfo.sot}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control form-control-sm" name="sod" onchange="search();">
                                                <option th:each="directionCd : ${sortDirectionCd}"
                                                        th:value="${directionCd.name()}"
                                                        th:text="${directionCd.name()}"
                                                        th:selected="${directionCd.name() eq paramInfo.sod}"
                                                >
                                                </option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <select class="form-control form-control-sm" name="ez" onchange="search();">
                                                <option value="10" th:selected="${paramInfo.ez eq 10}">10 Row</option>
                                                <option value="20" th:selected="${paramInfo.ez eq 20}">20 Row</option>
                                                <option value="50" th:selected="${paramInfo.ez eq 50}">50 Row</option>
                                                <option value="100" th:selected="${paramInfo.ez eq 100}">100 Row</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                <tr>
                                    <th>IDX</th>
                                    <th>alarm Name</th>
                                    <th>alarm Type</th>
                                    <th>Memo</th>
                                    <th>Updated User Id</th>
                                    <th>Updated At</th>
                                    <th>Function</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="result : ${resultList}">
                                    <td th:text="${result.alarmIdx}"></td>
                                    <td th:text="${result.alarmName}"></td>
                                    <td th:text="${result.alarmChannel}"></td>
                                    <div th:with="condition=${#strings.isEmpty(result.memo)} == false and ${#strings.length(result.memo)} > 30"
                                         th:remove="tag">
                                        <td th:if="${condition}" th:text="|${#strings.substring(result.memo, 0, 30)}...|"></td>
                                        <td th:unless="${condition}" th:text="${result.memo}"></td>
                                    </div>

                                    <td th:text="${result.updatedUserId}"></td>
                                    <td th:text="${result.updatedAt}"></td>
                                    <td>
                                        <button class="btn btn-outline-warning btn-xs"
                                                th:data-channel="${result.alarmChannel}"
                                                th:data-alarm_idx="${result.alarmIdx}"
                                                onclick="getData(this)">
                                            MODIFY
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center" paging:pagination="${pagination}" jsFuncName="movePageCustom"
                                    noEmpty="true">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="manage/alarm/lineNotifyPart :: lineNotifyModal"></div>
    <div th:replace="manage/alarm/emailSmtpPart :: emailSmtpModal"></div>
    <div th:replace="manage/alarm/slackIncomingPart :: slackIncomingModal"></div>


</div>
<th:block layout:fragment="scripts">
    <script>
        var functionModule = {};

        $(document).ready(function () {
            $(".saveBtn").click(function () {
                var channel = $(this).data('channel');
                var tmpFunc = functionModule[channel];
                if (tmpFunc === undefined) {
                    alert("지원되지 않은 채널입니다.");
                    return;
                }

                if (commonValid(tmpFunc.frmName) === false) {
                    return false;
                }

                if (tmpFunc.valid() === false) {
                    return false;

                }

                var url = tmpFunc.url;
                var contentType = "application/x-www-form-urlencoded; charset=UTF-8";
                var method = "POST";
                var data = $(tmpFunc.frmName).serialize();

                if ($(tmpFunc.frmName + " [name='alarmIdx']").val().length !== 0) {
                    method = "PUT";
                    contentType = "application/json;";
                    data = JSON.stringify($(tmpFunc.frmName).serializeObject());
                }

                $.ajax({
                    url: url,
                    data: data,
                    type: method,
                    contentType: contentType,
                    async: false,
                    dataType: 'json',
                    error: function (error) {
                        alert("실패");
                    },
                    success: function (data) {
                        location.reload();
                    }
                });
            })
        });

        function openModal(thisDom) {
            var tmpFunc = functionModule[thisDom.dataset.channel];
            if (tmpFunc === undefined) {
                alert("지원되지 않은 채널입니다.");
                return;
            }
            $(tmpFunc.frmName)[0].reset();
            tmpFunc.open(thisDom.dataset.channel);
        }

        function getData(thisDom) {
            var alarmIdx = thisDom.dataset.alarm_idx;
            var channel = thisDom.dataset.channel;

            var tmpFunc = functionModule[channel];
            if (tmpFunc === undefined) {
                alert("지원되지 않은 채널입니다.");
                return;
            }

            $.ajax({
                url: '/manage/alarm/api/v1' + alarmIdx,
                type: 'GET',
                async: false,
                dataType: 'json',
                error: function (error) {
                    alert("실패");
                },
                success: function (data) {

                    $(tmpFunc.frmName + " [name='alarmIdx']").val(data.data.alarmIdx);
                    $(tmpFunc.frmName + " [name='alarmName']").val(data.data.alarmName);
                    $(tmpFunc.frmName + " [name='memo']").val(data.data.memo);

                    var dataJson = JSON.parse(data.data.alarmValue);

                    tmpFunc.get(channel, alarmIdx, dataJson);
                }
            });


        }

        function commonValid(frmName) {
            if ($(frmName + " [name='alarmName']").val().length === 0) {
                alert("Please, Entered alarm Name");
                return false;
            }

            return true;
        }


    </script>

    <script th:include="manage/alarm/lineNotifyPart :: lineNotifyScript"></script>
    <script th:include="manage/alarm/emailSmtpPart :: emailSmtpScript"></script>
    <script th:include="manage/alarm/slackIncomingPart :: slackIncomingScript"></script>
</th:block>
</html>
