<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:paging="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Program Manage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"/>
    <link href="/webjars/select2/4.0.5/css/select2.min.css" rel="stylesheet"/>
</head>
<div layout:fragment="page_content" id="page_content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Program Manage</h5>
                        <p class="card-text">
                            프로그램 등록/수정이 가능한 관리 페이지 입니다.
                        </p>
                        <form id="frmSearch" class="form-inline">
                            <input type="hidden" name="pageNumber" value="1">
                            <!--<div class="form-group pr-1">-->
                            <!--<select class="form-control form-control-sm">-->
                            <!--<option>테스트</option>-->
                            <!--<option>테스트2222</option>-->
                            <!--</select>-->
                            <!--</div>-->
                            <!--<div class="form-group pr-1">-->
                            <!--<input type="text" class="form-control form-control-sm" placeholder="Entered Program Name"/>-->
                            <!--</div>-->
                            <div class="form-group pr-1">
                                <button class="btn btn-outline-primary btn-sm" onclick="addOpenModal(); return false;">ADD</button>
                            </div>
                        </form>
                        <br>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">IDX</th>
                                    <th>Program Name</th>
                                    <th class="text-center">Memo</th>
                                    <th class="text-center">Updated User Id</th>
                                    <th class="text-center">Updated At</th>
                                    <th class="text-center">Function</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="result : ${resultList}">
                                    <td class="text-center" th:text="${result.programIdx}"></td>
                                    <td>
                                        <span th:text="${result.programName}" th:remove="tag"></span>
                                    </td>

                                    <div th:with="condition=${#strings.isEmpty(result.memo)} == false and ${#strings.length(result.memo)} > 30"
                                         th:remove="tag">
                                        <td th:if="${condition}" th:text="|${#strings.substring(result.memo, 0, 30)}...|"></td>
                                        <td th:unless="${condition}" th:text="${result.memo}"></td>
                                    </div>

                                    <td class="text-center" th:text="${result.updatedUserId}"></td>
                                    <td class="text-center" th:text="${result.updatedAt}"></td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-outline-info btn-sm"
                                                    th:data-program_idx="${result.programIdx}"
                                                    onclick="openModifyProgram(this)">
                                                MODIFY
                                            </button>
                                            <button class="btn btn-outline-info btn-sm"
                                                    th:href="|/url/${result.programIdx}|">
                                                URL
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end" paging:pagination="${pagination}" jsFuncName="movePageCustom">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="programModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Program Manage</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="programFrm" class="form-horizontal">
                        <input type="hidden" name="programIdx">

                        <!-- Text input-->
                        <div class="form-group">
                            <input id="program_name" name="programName" type="text" placeholder="Program Name!"
                                   class="form-control form-control-sm">
                        </div>

                        <div class="form-group">
                            <select id="url_idxs" name="urlIdxs" class="form-control select2-multiple select2-bind"
                                    multiple></select>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <textarea class="form-control form-control-sm" rows="5" id="memo" name="memo"
                                      style="resize: none;" placeholder="Memo"></textarea>
                        </div>

                        <div class="row" id="modifyData" style="display: none;">
                            <div class="col">
                                Created User Id : <span id="createdUserId"></span>
                                Created Time : <span id="createdAt"></span>
                            </div>
                            <div class="col">
                                Updated User Id : <span id="updatedUserId"></span>
                                Updated Time : <span id="updatedAt"></span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer btn-footer">
                    <div class="btn-group btn-block">
                        <button type="button" class="btn" onclick="save(); return false;">Save</button>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="includeScripts">
    <script src="/webjars/select2/4.0.5/js/select2.min.js"></script>
</th:block>
<th:block layout:fragment="scripts">
    <script>
        function bindSelect2() {
            $(".select2-bind").select2({
                placeholder: "연결할 URL 이름을 검색하세요.",
                theme: "bootstrap",
                minimumInputLength: 1,
                delay: 250,
                ajax: {
                    type: 'GET',
                    url: '/api/v1/program/url/search',
                    dataType: "json",
                    contentType: 'application/json;',
                    data: function (params) {
                        return {
                            keyword: params.term
                        };
                    },
                    processResults: function (data) {
                        return {

                            results: $.map(data.data, function (item) {
                                return {
                                    text: item.urlName,
                                    id: item.urlIdx
                                }
                            })
                        };
                    }
                }
            });
        }

        function addOpenModal() {
            $("#programFrm")[0].reset();
            $("#programModal #modifyData").hide();
            $("#programModal").modal();

            bindSelect2();
        }

        function save() {
            var programName = $("#programFrm [name='programName']");
            if (programName.val().length === 0) {
                alert("프로그램 명을 입력해주세요.");
                programName.focus();
                return;
            }

            var url = "/api/v1/program";
            var contentType = "application/x-www-form-urlencoded; charset=UTF-8";
            var method = "POST";
            var data = $("#programFrm").serialize();

            if ($("#programFrm [name='programIdx']").val().length !== 0) {
                method = "PUT";
                contentType = "application/json;";
                data = JSON.stringify($("#programFrm").serializeObject());
            }

            $.ajax({
                url: url,
                data: data,
                type: method,
                contentType: contentType,
                async: false,
                dataType: 'json',
                error: function (error) {
                    alert("실패");
                },
                success: function (data) {
                    location.reload();
                }
            });
        }

        function openModifyProgram(thisDom) {
            var programIdx = thisDom.dataset.program_idx;

            $("#programFrm")[0].reset();

            $.ajax({
                url: "/api/v1/program/" + programIdx,
                type: 'GET',
                async: false,
                dataType: 'json',
                error: function (error) {
                    alert("실패");
                },
                success: function (data) {
                    $("#programFrm [name='programIdx']").val(data.data.programIdx);
                    $("#programFrm [name='programName']").val(data.data.programName);
                    $("#programFrm [name='memo']").val(data.data.memo);
                    $("#programFrm [name='urlIdxs']").val(data.data.urlIdxs);


                    $("#programFrm #createdAt").text(data.data.createdAt);
                    $("#programFrm #createdUserId").text(data.data.createdUserId);
                    $("#programFrm #updatedAt").text(data.data.updatedAt);
                    $("#programFrm #updatedUserId").text(data.data.updatedUserId);

                    $("#programModal #modifyData").show();
                    $("#programModal").modal();

                    bindSelect2();
                }
            });

        }

        function movePageCustom(pageNo) {
            $("#frmSearch [name='pageNumber']").val(pageNo);
            $("#frmSearch").submit();
        }
    </script>
</th:block>
